<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<h1>Hi</h1>
<p th:text="'Hello, ' + ${name} + '!' + ' ' + ${age}"  />
<input type="text" id="id" value=""/>
<input type="text" id="name" value=""/>
<input type="text" id="age" value=""/>
<button onclick="postPerson()">создать</button>
<script>
    function postPerson() {
        var formData = {
            "id": $("#id").val(),
            "name": $("#name").val(),
            "age": $("#age").val()
        };
         console.log(formData);


        $.postJSON("api/persons", formData
//            ,
//            function (result) { // onSuccess
//                console.log(result);
//                detectedInvaders = result;
//                $('#message').html(composeMessage(result));
//            }
//            function (result) { // onError
//                console.log(result);
//                showError(result);
//            }
        );
    }


    $(document).ready(function () {
        $.postJSON = function (url, data, onSuccess, onError) {
            return jQuery.ajax({
                'type': 'POST',
                'url': url,
                'contentType': 'application/json',
                'data': JSON.stringify(data),
                'dataType': 'json',
                'success': onSuccess,
                'error': onError
            });
        };

    });
</script>
</body>
</html>